<div [class.questionEditing]="editMode" class="row col-xs-10" data-toggle="options">
    <div class="widget"> <!-- TYPE PANEL -->
        <div class="widget-head"> <!-- HEAD PANEL -->
            <div class="questionEdit col-xs-12">
                <input [value]="item.text ? item.text : ''"
                       #questionInput
                       (keyup.escape)="cancelEdit(questionInput)">
                <select [(ngModel)]="item.type">
                    <option *ngFor="let type of types" [label]="getTypeLabelByValue(type)" [value]="type">{{type}}</option>
                </select>
                <button class="header-btn fa fa-close fa-lg pull-right"
                        (click)="cancelEdit(questionInput)"></button>
                <button class="header-btn fa fa-check-square-o fa-lg pull-right"
                        (click)="commitEdit(item, questionInput.value)"></button>
            </div>

            <div class="questionView col-xs-12">
                <span (dblclick)="enterEditMode(questionInput)">{{index + 1}}. {{item.text}}</span>

                <button class="header-btn fa fa-question-circle-o fa-lg pull-right"
                        (click)="showDescription()"></button>
                <button class="header-btn fa fa-trash-o fa-lg pull-right"
                        (click)="removeClicked()"></button>
                <button class="header-btn fa fa-pencil-square-o fa-lg pull-right"
                        (click)="enterEditMode(questionInput)"></button>
                <button class="header-btn fa fa-plus-square-o fa-lg pull-right"
                        (click)="createNewOption()"></button>
            </div>
        </div><!-- /HEAD PANEL -->

        <div class="widget-body" id="options" [collapse]="isCollapsed"> <!-- CONTENT PANEL -->
            <option-item *ngFor="let option of item.options; let i = index"
                         [item]="option"
                         [index]="i"
                         (itemRemove)="onRemoveOption($event)"
                         (itemUpdated)="optionUpdated($event)"></option-item>

            <option-item *ngIf="currentOption"
                         [editMode]="true"
                         [isNew]="true"
                         [item]="currentOption"
                         (itemUpdated)="optionUpdated($event)"
                         (itemRemove)="onRemoveOption($event)"></option-item>
        </div><!-- /CONTENT PANEL -->

        <div class="widget-footer"><!-- FOOTER PANEL-->
            <span [ngClass]="isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa fa-1x pull-right footer-btn"
                  (click)="isCollapsed = !isCollapsed"></span>
        </div><!-- /FOOTER PANEL-->

    </div> <!-- /TYPE PANEL -->
</div>

<description-item #descriptionModal [item]="item"></description-item>
