/* google font*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Gudea|Alegreya+Sans);

* {
  border-radius: 0 !important;
}

body{
  overflow-x: hidden;
  font-family: 'Gudea', sans-serif;
  font-size: 15px;
  color: #333333;
}
h1, h2, h3, h4, h5{
  font-family: 'Slabo 27px', serif;

  color: #333333;
}
h1{
  font-size: 26px;
  font-weight: bold;
}

p{
  line-height: 1.7;
}

.border{
  width: 80px;
  height: 1px;
  background-color: rgba(224, 215, 220, 0.5);
  margin-bottom: 15px;
}

/* HOME */
.home{
  position: relative;
  background: url('../images/carousel-bg-1.jpg') scroll no-repeat top right;
  background-size: cover;
  min-height: 650px;
  padding: 10rem 0;
}

.home .carousel-inner {
  overflow: visible;
}

.home .item {
  left: 15px;
  text-align: left;
  padding-bottom: 0;
  right: 15px;
}

.home h1 {
  color: #222;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.4;
  text-shadow: none;
  margin-top: 0;
}

.home h1 span{
  color: #2796de;
}

.home p{
  font-size: 17px;
  text-shadow: none;
  color: #999;
  margin-bottom: 30px;
}

.home .btn.btn.active{
  background-color: #2796de;
}

.home .btn.btn-primary{
  background-color: #222;
  width: 100px;
  text-align: center;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-color: transparent;
  margin-right: 25px;
}

.home .btn.active:hover{
  background-color: #222;
  border-color: #222;
}

.home .btn:hover{
  background-color: #2796de;
  border-color: #2796de;
}

.home .carousel-inner{
  position: unset;
}

.home .arrow-left .fa{
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  position: absolute;
  left: 0;
  top: 50%;
}

.home .arrow-right .fa {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  padding-left: 20px;
  position: absolute;
  right: 0;
  top: 50%;
}

.home:hover .fa{
  opacity: 1;
}

.home .fa:hover{
  color: #fff;
  background-color: #2796de;
}

.home .fa{
  color: #222;
  width: 35px;
  height: 45px;
  opacity: 0;
  font-size: 18px;
  background-color: #fff;
  margin-top: -10px;
  padding: 15px 0 0 10px;
}

.media-left{
  padding-right: 15px;
}

.media-heading {
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.4;
  word-spacing: 2px;
}

.media-body p{
  color: #999;
}

.list-inline{
  margin-right: 0;
}