<div [class.editing]="editMode" class="content-row">
    <div class="edit">
        <input [value]="item.text ? item.text : ''"
               #optionInput
               (keyup.escape)="cancelEdit(optionInput)">
        <span class="fa fa-check-square-o fa-lg fa-pull-right"
                (click)="commitEdit(item, optionInput.value)"></span>
        <span class="fa fa-close fa-pull-right"
                (click)="cancelEdit(optionInput)"></span>
    </div>

    <div class="view">
        {{item.text}}
        <span class="fa fa-pencil-square-o fa-lg fa-pull-right"
                (click)="enterEditMode(optionInput)"></span>
        <span class="fa fa-trash-o fa-lg fa-pull-right"
                (click)="removeClicked()"></span>
    </div>
</div>