div.editing .edit {
  display: block;
}

div.editing .view {
  display: none;
}

div .edit {
  display: none;
}

.content-row {
  padding: 10px;
}

.content-row:hover {
  background-color: rgb(202, 202, 202);
}