<div class="container-fluid">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" *ngFor="let examination of examinations"
             (click)="gotoDetail(examination)" class="col-md-3">
            <!-- PRICE ITEM -->
            <div class="panel price panel-red">
                <div class="panel-heading  text-center">
                    <h3>{{examination.name}}</h3>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="text-align:center; font-size:40px"><strong>{{examination.price}}</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
                </div>
            </div>
            <!-- /PRICE ITEM -->
        </div>
    </div>
</div>

<modal #examinationModal>
    <modal-header [show-close]="true">
        <div class="modal-header">
            <h2 class="modal-title">{{examination.name}}</h2>
        </div>
    </modal-header>
    <modal-body>
        <h3>Описание теста</h3>
        <div>
            <input type="text" class="form-control" required [(ngModel)]="examination.description">
        </div>
    </modal-body>
    <modal-footer>
        <a type="button" class="btn btn-primary" [routerLink]="['questions', examination.id]">Начать тест</a>
    </modal-footer>
</modal>
