<div class="container-fluid">
    <div class="container">
        <div>
            <a [routerLink]="['']" class="btn btn-primary">Home Page</a>
        </div>
        <p class="h1 title">Examination</p>
        <div *ngIf="text" class="card card-success card-inverse">
            <div class="card-header card-warning">
                {{text.text}}
            </div>
            <div class="card-block bg-white">
                <div *ngFor="let option of questionOptions" class="checkbox">
                    <label>
                        <input class="form-check-input" type="checkbox" value=""> {{option.text}}
                    </label>
                </div>
            </div>
        </div>

        <div *ngIf="questions" class="col-lg-6" style="margin-top: 10px;">
            <pagination [totalItems]="questions.length" [(ngModel)]="currentQuestion" [itemsPerPage]="questionsPerPage" [maxSize]="maxSize" (pageChanged)="onQuestionChanged($event)"></pagination>
        </div>

        <pre class="pull-right">{{currentQuestion}}/{{questions.length}}</pre>
    </div>
</div>
