/* google font*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Gudea|Alegreya+Sans);

* {
    border-radius: 0 !important;
}

html {
    position: relative;
    min-height: 100%;
}


h1, h2, h3, h4, h5{
    font-family: 'Slabo 27px', serif;
    color: #333333;
}
h1{
    font-size: 26px;
    font-weight: bold;
}

p{
    line-height: 1.7;
}

.spinner {
    position: fixed !important;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -55px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}